.menu {
  ul {
    list-style: none;
    background-color: $color-menu;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 15px;

      a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px;
        display: inline-block;

        &:hover {
          background-color: $color-hover;
          border-radius: 5px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
    }
  }
}
