$font-principal: Arial, sans-serif;
$color-fondo: #f2f2f2;
$color-texto: #222;
$color-principal: #106feb;
$color-hover: #555;
$color-menu: #333;

$colores-equipos: (
  fcb: red,
  psg: blue,
  intermiami: pink,
  arg: skyblue
);